body {
    background-color:rgb(67,150,233);
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid rgb(158, 167, 175);
}

tr {
    height: 40px;
    text-align: left;
}

th {
    background-color: #333;
    font-weight: normal;
    color: lightgray;
    border-bottom: 4px solid  rgb(158, 167, 175);
    padding: 15px;
}   

td {
    color: rgb(102,107,132);
    padding: 15px;
}

tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
    color: black;
}

tr:nth-child(even) {
    background-color: white;
    color: black;
}