<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>
<h1>Edit todo task</h1>
<form class="form-inline" method="post" th:object="${todo}" th:action="@{/todo/{id}/edit(id=${todo.id})}">
  <label>Title</label>
  <input type="text" class="form-control" th:field="*{title}">
  <label>Urgent?</label>
  <input name="urgent" type="checkbox" th:field="*{urgent}">
  <label>Done?</label>
  <input name="done" type="checkbox" th:field="*{done}">
  <button value="submit">Save</button>
</form>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
