<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/login.css}" />
  <title>Signin</title>
  <meta charset="utf-8">
</head>

<body>
  <form class="form-signin" method="post" th:object="${character}" th:action="@{/login}">
    <img alt="Image" th:src="@{/img/Cinema-Avengers-icon.png}" th:width="120" th:height="120"/>
    <h1>Create Account</h1>
    <label>Character Name: </label>
    <input name="name" th:field="*{name}">
    <label>Hero type: </label>
    <select name="type" th:field="*{type}" >
      <option th:value="'ironman'">Iron Man</option>
      <option th:value="'thor'">Thor</option>
      <option th:value="'captain'">Captain America</option>
    </select>
    <button type="submit">Create character</button>
  </form>
</body>
</html>
