<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Avangers HQ</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <meta charset="utf-8"/>
</head>
<header>
  <h1>Welcome to Stark Tower!</h1>
  <nav>
    <a href="login">Sign In</a>
  </nav>
</header>
<body>
<main th:object="${character}">
<img alt="charimg" th:src="@{'/img/' + ${character.getType()} + '.png'}" th:width="200" th:height="200"/>
  <div id="status">
    <p th:text="'This is ' + *{name}"></p>
    <p th:text="'Type ' + *{type}"></p>
    <p th:text="*{food==null && drink==null}
          ?'Currently living on nothing. Visit the canteen to get some food and drink.'
          :'Currently living on ' + *{food} + ' and ' + *{drink}"></p>
  </div>
</main>
</body>
</html>
