<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Avangers HQ</title>
  <meta charset="utf-8"/>
</head>
<header>
  <h1>Welcome to Stark Tower!</h1>
  <nav>
    <a href="store.html">Store</a>
    <a href="canteen.html">Canteen</a>
    <a href="login.html">Sign In</a>
  </nav>
</header>
<body th:object="${character}">
  <img th:href="|../img/*{type}.png|">
  <div id="status">
    <p th:text="'This is ' + *{name}"></p>
    <p th:text="*{food==null && drink==null}
          ?'Currently living on only nothing. Visit to canteen to get food and drink.'
          :'Currently living on ' + *{food} + ' and ' + *{drink}"></p>
  </div>
</body>
</html>
