filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log
setup.kibana:
  host: "${YOUR_ELK_IP}:5601"
  protocol: "http"
output.elasticsearch:
  hosts: ["${YOUR_ELK_IP}:9200"]
  protocol: "http"
