body {
    background-color: rgb(235,235,235);
}

.container {
    width: 30%;
    height: 350px;
    margin: 7% 33.3333%;
    padding: 40px 40px;
    background-color: white;
}

h1, label {
    font-weight: normal;
    color: rgb(51,51,51);
    opacity: 0.6;
}

h1 {
    font-size: 25px;
}

label {
    font-size: 15px;
    display: block;
}

input {
    display: inline-block;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

input:focus {
    border: 2px solid greenyellow !important;
    outline: none;
}

button {
    background-color: rgb(51,51,51);
    color: white;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: 0;
    border-radius: 40px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.8;
}

span.psw {
    margin: 10px 10px;
    display: block;
    text-align: right;
}

a:link {
    text-decoration: none;
    color: rgb(51,51,51);
    opacity: 0.5;
}